*{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-columns:0% 20% 60% 20%;
  grid-template-rows:0% 30% 60% 15% 5%;
}
.about-section{
  display: grid;
  grid-row: 2/3;
  grid-column: 2/7;
}
.header-baner {
  display: grid;
  background-color: lightblue;
  padding: 10vh;
  text-align: center;
  z-index: 2;
  grid-column: 1/5;
  grid-row: 1/2;
  grid-template-columns: 5% 5% 90%;
  grid-template-rows: 50% 40% 10%;
}
.services-section{
  display: grid;
  grid-row: 3/4;
  grid-column: 2/7;
}
.contact-section{
  display: grid;
  grid-row: 4/6;
  grid-column: 2/6;
}
.site-banner{
  display: grid ;
  grid-column: 1/4;
}
.hidde{
 display: none !important;
}
.navigation-panel {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: repeat(10,10%);
  z-index: 1;
  grid-row: 3/6;
  grid-column:1/3 ;
  /* grid-template-columns: 5% 90% 5%;
  grid-template-rows:10% 40% 50% ; */
  background-color: aliceblue ;
}
.navigation-panel-hidden{
    display: grid;
    grid-column:1/1 ;
    grid-row: 1/1;
}
.show-nav{
  display: grid;
  grid-column: 1;
  grid-row: 2/3;
}
main {
display: grid;
grid-row: 3/4;
grid-column: 1/5;
grid-template-columns: 5% 25% 25% 25% 15% 5%;
grid-template-rows:1fr repeat(4,2fr) 1fr;
}
footer{
  display: grid;
  grid-column: 1/5;
  grid-row: 6/7;
}
.navigation-panel-list{
  margin: 0;
  list-style: none;
  grid-row: 2/6;
  padding: 0;
  grid-column: 2/3;
  display: grid;


  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: black;
  
  display: block;
}




label {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;

  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
 
  background-color: lightgray;
  border: none;
  font-size: 1vw;
  font-weight: bold;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: gray;
  color: white;
}

footer {
  background-color: lightblue;
 
  text-align: center;
  color: white;
}