body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  text-align: center;
  background-image: url("../Inne/name_background.jpg");
}

main {
  padding: 30px;
}

footer {
  background-color: lightblue;
  text-align: center;
  color: white;
  position: absolute;
  width: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: #e8f5fd;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  display: block;
}

section {
  margin-bottom: 20px;
}





.theme{
  background-image: url("../Inne/polsl.jpg");
  backdrop-filter: blur(5px);
  height: 100px;
}

button{
  backdrop-filter: blur(100%);
}

button:hover{
  box-shadow: 1em 1em 1em 0em rgba(186,183,113,0.75);
}
