html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Charlie-display-SB', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

main {
  padding: 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url("../Inne/polsl.jpg");
  backdrop-filter: blur(15px);
  background-repeat: no-repeat;
  background-size: 250vh;
}


@font-face {
  font-family: 'Charlie-display-SB';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Charlie_Display-Semibold.woff2") format('woff2');
}
@font-face {
  font-family: 'Charlie-text-R';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Charlie_Text-Regular.woff2") format('woff2');
}
@font-face {
  font-family: 'Charlie-text-SB';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Charlie_Text-Semibold.woff2") format('woff2');
}



footer {
  background-color: #172a42;
  text-align: center;
  color: white;
  position: absolute;
  width: 100%;
}

#bar {/* menu */
  list-style-type: none;
  display:flex;
  justify-content:center;
  width:100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 99;
}

#bar li {
  display: table-row;
  flex-grow:3;
  text-align:center;
  margin:4px;
  text-decoration: none;
}

#bar .logo{
  display: block;
  text-align: center;
  padding: 8px;
}

#bar .logo a {
  color: #4E7BCE;
  font-size: 26px;
  text-decoration: none;
}

#bar .option a {
  font-family: 'Charlie-text-SB', sans-serif;
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  border-radius: 15px;
  text-decoration: none;
  transition: background-color 0.5s ease-in-out;
}

#bar .option a:hover {
  text-shadow: 1px 1px #cea24e;
  text-decoration: underline #cea24e;
  text-underline-offset: 8px;
}

#logo{
  display: block;
  color: white;
  font-size: 26px;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}




section {
  margin-bottom: 20px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
}

#header{
  width: fit-content;
  padding: 3vh;
  border-radius: 10px;
  font-size: 40px;
  font-weight: bold;
}

.headline{
  font-size: 30px;
  font-weight: bold;
}

label {
  display: inline-block;
  width: auto;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
label sup_label{  /*kolorowanie gwiazdek*/
  color: red;
}


input[type="email"], input[type="text"], input[type="password"], input[type="phone"]{
  padding: 10px;
  border: 0.2vw solid #a9a9a9;
  border-radius: 10%;
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
}
input[type="submit"] {
  font-family: 'Charlie-display-SB', sans-serif;
  font-size: 24px;
  padding: 20px 20px;  
  backdrop-filter: blur(100%);
  background-color: whitesmoke;
  color: black;
  border: 3px solid #10a5ca;
  border-radius: 5px;
  transition: background-color 0.2s ease;
  margin-top: 10px;
  width: 100%;
  max-width: 320px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #10a5ca;
  color: white;
}


form{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #ccc;
  padding: 15px;
  border-radius: 15px;
  
  background: #f5f5f5;
}
form sup_form{
  margin-top: 20px;
  display: default;
}
#form_register{
  display: flex;
  flex-direction: column;
  align-items: left;
}

.data_error{  /*kolorowanie błędów*/
  color: red;
  font-size: 13px;
}