html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Charlie-display-SB', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    box-sizing:border-box;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}


@font-face {
    font-family: 'Charlie-display-SB';
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Charlie_Display-Semibold.woff2") format('woff2');
}
@font-face {
    font-family: 'Charlie-text-R';
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Charlie_Text-Regular.woff2") format('woff2');
}
@font-face {
    font-family: 'Charlie-text-SB';
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Charlie_Text-Semibold.woff2") format('woff2');
}

#logo{
    display: block;
    color: white;
    font-size: 26px;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

#bar {
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content:center;
    width:100%;
    min-height: 10%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #384661;
    position: sticky;
    top: 0;
    z-index: 99;
}

#bar li {
    display: table-row;
    flex-grow:3;
    text-align:center;
    margin:4px;
}
#bar li a {
    font-family: 'Charlie-display-SB', sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    border-radius: 15px;
}

#bar li a:hover {
    background-color: #172a42;
}
#left, #right {
    width: 50%;
    height: 100%;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    z-index: 1;
    transition: width 0.5s ease;
}

#center {
    font-family: 'Charlie-display-SB', sans-serif;
    position: fixed;
    align-content: center;
    text-align: center;
    font-size: 500%;
    color: #ffffff;
    top: 8%;
    z-index: 10;
    height: 10%;
    width: 100%;
    text-shadow: 3px 2px #d8ac6a;
    background-color: rgba(0,0,0,0);
    cursor: default;
}
#left {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("~/media/pexels-photo-3183150.jpeg");
    background-size: cover;
    background-position: center;
    left: 0;
    filter: none;
}
#right {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("~/media/pexels-photo-3184339.webp");
    background-size: cover;
    background-position: center;
    right: 0;
    filter: none;
}
#left h1, #right h1 {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: #fff;
    text-shadow: 2px 2px #333;
    pointer-events: none;
    z-index: 2;
    transition: opacity 0.5s ease;
}
.p1 {
    font-family: 'Charlie-text-SB', sans-serif;
    position: absolute;
    top: 60%;
    left: 50%;
    padding: 0 10px 2px 10px;
    transform: translate(-50%, -50%);
    font-size: 160%;
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px #333;
    z-index: 2;
}
#left:hover, #right:hover {
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.15);
    width: 60%;
    z-index: 3;
}
#left:hover .p1 , #right:hover .p1 {
    background-image: linear-gradient(#6A96D8,#6A96D8);
    text-shadow: 2px 2px #d8ac6a;
    background-size: 0 100%;
    background-repeat: no-repeat;
    animation: open 1s forwards;
}
.btn {
    font-family: 'Charlie-text-SB', sans-serif;
    position: absolute;
    font-size: 16px;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease;
}
#left:hover .btn, #right:hover .btn {
    opacity: 1;
}
#left:hover ~ #overlay, #right:hover ~ #overlay {
    opacity: 1;
    pointer-events:all;
}
#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0.3,0.3);
    filter: blur(5);
    pointer-events:none;
    z-index: 2;
    transition: 200ms ease-in-out;
}
#overlay.active {
    opacity: 1;
    pointer-events:all;
}
@keyframes open {
    0% {
        background-size: 0 100%;
    }
    100% {
        background-size: 100% 100%;
    }
}