html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Charlie-display-SB', sans-serif;
  margin: 0;
  padding: 0;
}

main {
  padding: 30px;
  min-height: 88vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url("../Inne/polsl.jpg");
  backdrop-filter: blur(15px);
  background-repeat: no-repeat;
  background-size: 250vh;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}


@font-face {
  font-family: 'Charlie-display-SB';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Charlie_Display-Semibold.woff2") format('woff2');
}
@font-face {
  font-family: 'Charlie-text-R';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Charlie_Text-Regular.woff2") format('woff2');
}
@font-face {
  font-family: 'Charlie-text-SB';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Charlie_Text-Semibold.woff2") format('woff2');
}



footer {
  background-color: #172a42;
  text-align: center;
  color: white;
  position: absolute;
  width: 100%;
}

/* ul {
  list-style-type: none;
  display:flex;
  justify-content:center;
  width:100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #384661;
  position: sticky;
  top: 0;
  z-index: 99;
}
#logo{
  font-family: 'Charlie-display-SB', sans-serif;
  display: block;
  color: white;
  font-size: 26px;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}
li {
  display: table-row;
  flex-grow:3;
  text-align:center;
  margin:4px;
}
li a {
  font-family: 'Charlie-text-SB', sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  border-radius: 15px;
}
li a:hover {
  background-color: #172a42;
} */

#bar {/* menu */
  list-style-type: none;
  display:flex;
  justify-content:center;
  width:100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 99;
}

#bar li {
  display: table-row;
  flex-grow:3;
  text-align:center;
  margin:4px;
  text-decoration: none;
}

#bar .logo{
  display: block;
  text-align: center;
  padding: 8px;
}

#bar .logo a {
  color: #4E7BCE;
  font-size: 26px;
  text-decoration: none;
}

#bar .option a {
  font-family: 'Charlie-text-SB', sans-serif;
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  border-radius: 15px;
  text-decoration: none;
  transition: background-color 0.5s ease-in-out;
}

#bar .option a:hover {
  text-shadow: 1px 1px #cea24e;
  text-decoration: underline #cea24e;
  text-underline-offset: 8px;
}

#logo{
  display: block;
  color: white;
  font-size: 26px;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}





section {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  /* opacity: 0.95; */
}

#blank1{
  height: 70vh;
}

.headline{
  font-size: 30px;
  font-weight: bold;
}

label {
  display: inline-block;
  width: auto;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}


input[type="email"], input[type="text"]{
  padding: 10px;
  border: 0.2vw solid #ccc;
  border-radius: 10%;
  margin-bottom: 10px;
  width: 100%;
  max-width: 35vh;
}
textarea{
  width: 40vw;
  min-height: 80px;
  resize: vertical;
}
input[type="submit"] {
  font-family: 'Charlie-display-SB', sans-serif;
  font-size: 24px;
  padding: 20px 20px;
  backdrop-filter: blur(100%);
  background-color: whitesmoke;
  color: black;
  border: 3px solid #10a5ca;
  transition: background-color 0.2s ease;
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
  max-width: 320px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #10a5ca;
  color: white;
}

form{
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 20px;
}
