body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #dee7f3;
}

* {
  box-sizing: border-box;
  /* margin: 0; */
  padding: 0;
}

@font-face {
  font-family: 'Charlie-display-SB';
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/Charlie_Display-Semibold.woff2") format('woff2');
}
@font-face {
  font-family: 'Charlie-text-R';
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/Charlie_Text-Regular.woff2") format('woff2');
}
@font-face {
  font-family: 'Charlie-text-SB';
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/Charlie_Text-Semibold.woff2") format('woff2');
}

#logo{
  display: block;
  color: white;
  font-size: 26px;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}



#bar {/* menu */
  font-family: 'Charlie-display-SB', sans-serif;
  list-style-type: none;
  display:flex;
  justify-content:center;
  width:100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 99;
}

#bar li {
  display: table-row;
  flex-grow:3;
  text-align:center;
  margin:4px;
  text-decoration: none;
}

#bar .logo{
  display: block;
  text-align: center;
  padding: 8px;
}

#bar .logo a {
  color: #4E7BCE;
  font-size: 26px;
  text-decoration: none;
}

#bar .option a {
  font-family: 'Charlie-text-SB', sans-serif;
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  border-radius: 15px;
  text-decoration: none;
  transition: background-color 0.5s ease-in-out;
}

#bar .option a:hover {
  text-shadow: 1px 1px #cea24e;
  text-decoration: underline #cea24e;
  text-underline-offset: 8px;
}



#searchBox{
  width: 250px;  
  height: 45px;
  padding: 1vh;
  margin: 0.5vh;
  border-radius: 8px;
}

.container{
  margin-left: 15px;
  margin-top: 30px;
  min-height: 1000px;
  display: flex;
  justify-content: space-evenly;
}

.filters{
  float: left;
  /* width: 200px; */
  height: fit-content;
  padding: 20px;
  border: 1px solid #8e94f2;
  margin-top: 30px;
  border-radius: 7px;
  background-color: white;
}

.filters form{
  padding-left: 3px;
}

.filters h2{
  margin: 10px 0 10px;
}

main {
  float: left;
  width: 1098px;
  padding: 15px;
  margin-top: 15px;
}

footer {
  background-color: #172a42;
  text-align: center;
  color: white;
  position: absolute;
  width: 100%;
}

.jobOffers{
  /* min-height: 202px; */
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  gap: 30px 10px;
}

.jobOffer{
  /* width: 450px; */
  /* height: 140px; */
  padding: 30px;
  border-radius: 7px;
  background-color: white;
  transition: border-width 0.1s ease-in;
  border: 1px solid #8e94f2;
}

.jobOffer:hover {
  border-width: 3px;
}

.jobOfferImg{
  display: inline-block;
  width: 146px;
  height: 126px;
  /* margin-top: 7px; */
  margin: auto;
}

.jobOfferImg img{
  width: 126px;
  height: 126px;
}

.content{
  display: inline-block;
  width: 282px;
}

.tags{
  height: 28px;
}

.tag{
  display: inline-block;
  /* border: 1px solid #2f3336; */
  border-radius: 2px;
  padding: 3px 7px 3px 7px;
  margin-right: 5px;
  background-color: #8e94f2;
  color: white;
  font-weight: 600;
}