
  
    <main class="theme">
      <button>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, tempora?</button>
      <button>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, laboriosam.</button>
    </main>

  
  <script src="../js/fajerwerki.js"></script>
