
  
    <main class="theme">
    <div id="blank"></div>
    <div class="greeting">
        <span>Welcome to</span> <br>
        <span>Future Prospects.</span>
    </div>

    <button asp-action="Login" asp-controller="Account">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, tempora?</button>
      <button>Register as a eploye</button>
    </main>

  @if (TempData["success"] != null)
    {
    <h2>@TempData["success"]</h2>
    }
<script src="../js/fajerwerki.js"></script>
