
<head>
    <meta charset="UTF-8">
    <title>Future Prospects</title>
    <link rel="stylesheet" type="text/css" href="~/css/selction_style.css">
    <script defer src="../scripts/main_page.js"></script>
</head>





<div id="left" class="halves">
    <h1>STUDENT</h1>
    <a class="p1"asp-controller="Offer">Find the job of your dreams</a>
    <a asp-area="" asp-controller="Account" asp-action="registerEmployee">

        <input type="button" class="btn" placeholder="Register now!">
    </a>
</div>
<div id="right" class="halves">
    <h1>EMPLOYER</h1>
    <a class="p1" href="">Find your perfect employee</a>
    <a asp-area="" asp-controller="Account" asp-action="registerEmployer">
        <button class="btn">Register now!</button>
    </a>
</div>
<div id="center">Welcome to future prospects!</div>

<div id="overlay"></div>

